Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
# List1 = [Ramesh, Suresh, Mahesh, Ali, Jacob, Saritha]
# List2 = [Ali, Mukesh, Mahesh, Jacob, Sai, Saritha]

List1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Saritha"]
List2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Saritha"]
Common_people = []

for i in List1:
  if i in List2:
    Common_people.append(i)
print(Common_people)

['Mahesh', 'Ali', 'Jacob', 'Saritha']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.

In [ ]:
s = "Ramesh Suresh Mohit"
sp = s.split()
print(sp)

l = list(sp)
print(l)
type(l)


age = [25, 22, 26]

type(age)

tot_list = zip(l,age) # tot_list = list(zip(l,age))

for (a,b) in tot_list:
  print(a,b)

['Ramesh', 'Suresh', 'Mohit']
['Ramesh', 'Suresh', 'Mohit']
Ramesh 25
Suresh 22
Mohit 26

Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25


Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [ ]:
Name = ['Sam', 'Jacy', 'Tom', 'Steve']
Python = [25, 26, 29, 28]
Statistics = [23, 21, 19, 25]
SQL = [29, 27, 28, 25]

# Mean of Python
mean_py = sum_py = 0

for i in range(0,len(Python)):
  sum_py+=Python[i]
mean_py = sum_py/len(Python)  

print('Mean value of Python subject is :',mean_py)


# Mean of Statistics
mean_st = sum_st = 0

for i in range(0,len(Statistics)):
 sum_st+=Statistics[i]
mean_st = sum_st/len(Statistics)

print("Mean value of Python subject is:", mean_st)

# Mean of SQL

mean_sql=sum_sql = 0

for i in range(0,len(SQL)):
  sum_sql+=SQL[i]
mean_sql = sum_sql/len(SQL)

print("Mean value of the SQL subject is :", mean_sql)

Max_of_mean_values= max(mean_py, mean_st, mean_sql)
print('Max among the mena values is: ',Max_of_mean_values)

Max_score_python=max(dict(zip(Name,Python)))

print('Person scored MAX in Python is :',Max_score_python)

Mean value of Python subject is : 27.0
Mean value of Python subject is: 22.0
Mean value of the SQL subject is : 27.25
Max among the mena values is:  27.25
Person scored MAX in Python is : Tom

Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [ ]:
no_of_strips = [2,3,5]
types_of_strips= ['paracetmol','azithromycin', 'Vitamin C']
cost_of_ind_strips =  [35,49,33]
customer_amount = 2000

cost_of_each_tablets = []
tot_cost_ind_strips = []
tot_amount = 0

cost_of_each_tablets =list(zip(no_of_strips, cost_of_ind_strips))

print(cost_of_each_tablets )

for (a,b) in cost_of_each_tablets :
  tot_cost_ind_strips.append(a*b)

print(list(zip(types_of_strips,tot_cost_ind_strips)))


for i in tot_cost_ind_strips:
  tot_amount = tot_amount+i
  
print('Total amount of all the tablets:',tot_amount)

Balance_amount = (customer_amount) -(tot_amount)

print('Balance amount paid to the customer:', Balance_amount)

[(2, 35), (3, 49), (5, 33)]
[('paracetmol', 70), ('azithromycin', 147), ('Vitamin C', 165)]
Total amount of all the tablets: 382
Balance amount paid to the customer: 1618


Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
inp_str= str(input('Enter any scentence as input:' ))


vowels = ['A','E', 'I', 'O', 'U', 'a','e', 'i', 'o', 'u']
COUNT=0
for i in inp_str:
  if i in vowels:
    COUNT+=1
print(COUNT)

Enter any scentence as input:I am learning python
6

Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years.

In [19]:
from datetime import date



birth_day = int(input("Enter your day of birth:" ))
birth_month = int(input("Enter your month of birth:" ))
birth_year = int(input("Enter your year of birth:" ))

current_day = date.today().day
current_month = date.today().month
current_year = date.today().year

Age_day = current_day - birth_day
Age_month = current_month - birth_month
Age_year =  current_year - birth_year

print(f"Your exact age is : {Age_year} Years,{Age_month} Months, {Age_day} Days" )

if Age_year>18:
  print("Congrats!")
else:
  print(f"You have to return after: {18-Age_year} YEARS")

Enter your day of birth:15
Enter your month of birth:4
Enter your year of birth:2013
Your exact age is : 10 Years,-3 Months, 3 Days
You have to return after: 8 YEARS

In [41]:
import datetime

def cal_age(year,month,day):
  today = date.today()
  dob = date(year,month,day)
  age =  int((today-dob).days/365)
  print(age)

cal_age(1986,7,14)

36